body {
    background-color: #A9A9A9;
}

#websiteTitle {
    background-color: lightblue;
    text-align: center;
    font-size: 40px;
    color: blue;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: dimgray;
}
.active {
    background-color: lightcoral;
}

.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

li {
    color: white;
    display:inline;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}
li:hover{
    background-color: white;
}

#footer{
    position:fixed;
    bottom: 0; 
}

